**/*.log
*.log
**/__pycache__/
*.pyc
*.DS_Store
logs/*
plugins/*
.vscode/*
build/*
!build/build.md
bin/*
swaggerdocs/*
test/cacao/flatfile-db-example.json
test/routes/__debug_bin2988553005


documentation/public
documentation/resources/
documentation/node_modules/
documentation/package-lock.json
documentation/.hugo_build.lock
**.hugo_build.lock