**/*.log
*.log
**/__pycache__/
*.pyc
*.DS_Store
logs/*
plugins/*
.vscode/*
build/*
!build/build.md
bin/*
swaggerdocs/*
**.env
test/cacao/flatfile-db-example.json
test/routes/__debug_bin2988553005


docs/public
docs/resources/
docs/node_modules/
docs/package-lock.json
docs/.hugo_build.lock
**.hugo_build.lock

